/**********************************************************/
/* Aqui va el comentario del trabajo                      */

/**********************************************************/

/***** FUENTES *****/
@font-face {
    font-family: texto;
    src: url(../font/1GandhiSerif-BoldItalic.otf);
}
@font-face {
    font-family: titulo;
    src: url(../font/ButterChicken-rgxpK.otf);
}

/*****************************  layout  *************************************/

body {
    margin-top: 0%; padding: 0%;
    background-color: rgb(85, 50, 50);
    color: white;
    font-family: texto;
    font-size: 1.5em;
}
#wrapper {
    width: 90%;
    background-color: rgb(85, 50, 50);
    margin: auto;
    font-family: texto;
}

/************************** barra de navegación *****************************/


.nav-enlace {
    font-size: 30px;
    display:inline-block;
    background: #fdedd0;
    background-color: rgb(85, 50, 50);
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
}
.nav-enlace:hover{
    background: #fdedd0;
    color:black

}

nav {
    font-family: titulo;
    font-size: 1.7em;
    padding-left: 20px;
    padding-top: 0px;
    position: fixed;
}

/*********************** hero section *************************/

#hero {
    background-image: url(../img/IMG1.jpg);
    height: 80vh;             /*Forzar el alto de la hero para ver la foto*/
    background-size: cover;   /* estira la foto para verla encajar*/
    background-position: 10%; /* donde esta el punto de interes */
    font-family: texto;
    color: black;
    font-size: 2em;
    text-align: center;
    padding-left: 800px;
    padding-top: 20px;
    
}

/*************************** Start ******************************/

blockquote {border-left: 3px solid rgb(0, 0, 0);
    font-style: italic;
    padding: 10px;
    background-color: #fdedd0;
    box-shadow: 10px 10px 20px black;
    color:black}

/************************** Gallery *****************************/

.imagen{
    width: 40%;
    height: 20%;
    margin: auto;
    display: inline-block;
}

.scream{
    background: rgb(233, 103, 168) url(../img/IMG3.jpg) no-repeat right top
}

/**************************responsividad***********************/

@media only screen and (width<650px){
    #wrapper {width: 95%;}
    #hero {background-image: url(../img/logo.jpg);}
}