/**********************************************************/
/* Aqui va el comentario del trabajo                      */

/**********************************************************/

/***** FUENTES *****/
@font-face {
    font-family: texto;
    src: url(../font/1GandhiSerif-BoldItalic.otf);
}
@font-face {
    font-family: titulo;
    src: url(../font/ButterChicken-rgxpK.otf);
}

/*****************************  layout  *************************************/

body {
    margin-top: 0%; padding: 0%;
    background-color: rgb(85, 50, 50);
    color: white;
    font-family: texto;
    font-size: 1.5em;
}
#wrapper {
    width: 90%;
    background-color: rgb(85, 50, 50);
    margin: auto;
    font-family: texto;
}

/************************** barra de navegación *****************************/

#cr1 {
    width: 9px;
    height: 80px;
    padding-left: 70px;
    position: fixed;
}

#cr2 {
    width: 9px;
    height: 80px;
    padding-left: 200px;
    position: fixed;
}

#cr3 {
    width: 9px;
    height: 80px;
    padding-left: 338px;
    position: fixed;
}

.nav-enlace {
    font-size: 30px;
    display:inline-block;
    background: #fdedd0;
    background-color: rgb(85, 50, 50);
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
}
.nav-enlace:hover{
    background: #fdedd0;
    color:black

}

nav {
    font-family: titulo;
    font-size: 1.7em;
    padding-left: 20px;
    padding-top: 40px;
    position: fixed;
}



/*********************** hero section *************************/

#hero {
    background-image: url(../img/IMG1.jpg);
    height: 80vh;             /*Forzar el alto de la hero para ver la foto*/
    background-size: cover;   /* estira la foto para verla encajar*/
    background-position: 10%; /* donde esta el punto de interes */
    font-family: texto;
    color: black;
    font-size: 2em;
    text-align: center;
    padding-left: 800px;
    padding-top: 20px;
    
}

#zk {
    font-family: titulo;
    font-size: 80px;
}

/*************************** Start ******************************/

blockquote {border-left: 3px solid rgb(0, 0, 0);
    font-style: italic;
    padding: 10px;
    background-color: #fdedd0;
    box-shadow: 10px 10px 20px black;
    color:black;
    margin-top: 60px;
}

/************************** Gallery *****************************/

#g1 {
    font-family: titulo;
    font-size: 60px;
    text-align: center;
    
}

.gallery1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}    

.c1 {
    width: 500px;
    height: 800px;
    margin-right: 60%;
    margin-left: 35%;
    margin-top: 40px;
}

.c2 {
    width: 500px;
    height: 800px;
    margin-left: 5%;
    margin-top: 40px;
}

/*#f3 {
    width: 500px;
    height: 800px;
    margin-left: 35%;
}*/

.c3 {
    width: 500px;
    height: 800px;
    margin-left: 70%;
    margin-top: 40px;
}

/**************************responsividad***********************/

@media only screen and (width<650px){
    #wrapper {width: 95%;}
    /*#hero {background-image: url(../img/logo.jpg);}*/
}